// Fuentes
$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$telefonoxl: 615px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1600px;

// Colores
$primario: #3b4862;

$negro: #000;
$blanco: #FFFFFF;
$gris: #eeefed;
$grisClaro: #f8f8f8;